<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Capsule</title>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Slate is a responsive theme for GitHub Pages" />
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,700,700italic' rel='stylesheet' type='text/css'>
  <head>

  </head>
  <body>
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/capsulephp/di/">View on GitHub</a>
          <h1 id="project_title">Capsule</h1>
          <h2 id="project_tagline">A package-oriented dependency injection container.</h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

{{ content }}

      </section>
    </div>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Copyright &copy; 2017, Paul M. Jones.</p>
      </footer>
    </div>

  </body>
</html>
