<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Capsule</title>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Slate is a responsive theme for GitHub Pages" />
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,700,700italic' rel='stylesheet' type='text/css'>
  <head>

  </head>
  <body>
    <section class="page-header">
      <img src="capsule.png" />
      <!-- <h1 id="project_title">Capsule</h1> -->
      <h2 class="project-tagline">A package-oriented dependency injection container.</h2>
      <h3><a href="https://github.com/capsulephp/di"><code>composer require capsule/di ~1.0</code></a></h3>
    </section>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

{{ content }}

      </section>
    </div>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Whatever.</p>
      </footer>
    </div>

  </body>
</html>
